body{
    font-family: 'Montserrat', sans-serif;
}
.main{
    background: rgb(220, 220, 220);
}
.parent{
    margin-top: 10%;
}
a{
    color: black;
}
a:hover{
    color: black;
}
.line{
    background-color: white;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.material-icons{
    cursor:pointer;
}
.preloader{
    transition: 1s all;
    position: absolute;
    z-index: 100;
    background: grey;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.textinpre{
    transition: 1s all;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
